<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.orangeelephant.sobriety">
    <uses-feature android:name="android.hardware.fingerprint"
    android:required="false"/>

    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="Sobriety"
        android:roundIcon="@mipmap/app_logo"
        android:supportsRtl="true">
        <activity
            android:name=".ui.UnlockActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.SettingsActivity"
            android:exported="true"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".ui.EditCounterActivity"
            android:exported="true" />
        <activity
            android:name=".ui.CounterFullViewActivity"
            android:exported="true" />
        <activity
            android:name=".ui.AddCounterActivity"
            android:exported="true" />
        <activity
            android:name=".ui.HomeScreenActivity"
            android:exported="true" />
    </application>

</manifest>